<div class="container">
    
    <div class="row">

        {% include 'partials/pagination.html' %}

    </div>
    <hr>
    <div class="row">

        {%if page_object.items%}

        {% for product in page_object.items %}
        <div class="col-4 mb-3 d-flex justify-content-start">
            {% include 'partials/product_list_item.html'%}
        </div>
        {% endfor %}

        {%else%}
        <div>
            <p>
                There are no products that match your filters.
            </p>
            <p>
                Try a different combination or contact customer service for further assistance.
            </p>
        </div>
        {% endif%}
    
    </div>
    <hr>
    <div class="row">

        {% include 'partials/pagination.html' %}

    </div>
</div>