{% extends "layout.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">

            <div class="container border rounded border-white bg-primary bg-opacity-10 text-center fw-bold py-5">
                <p>Hello there,</p>
                <p>Your order has been submitted.</p>
                <p>You should get a notification once your items have been dispatched.</p>
                <p>Thank you for shopping with us.</p>
                <div class="ms-auto me-4">
                    <a class="btn btn-outline-primary" href="/" role="button">Continue Shopping</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}